*.pyc
*~
\#*\#
html
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.sh

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Data Files
*.npy
*.pkl
*.npz

# Image files
*.png
*.jpg

*.swp
#Translations
*.mo

#Mr Developer
.mr.developer.cfg
LOGS/
TMP_DBI/
